 

.con, .dis, .vpn{

  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;

}

.con{

	color: green;
	font-weight: bold;
	border:2px lawngreen solid;
    padding: 5px;


}

.con:hover{
	color:black;
	border:2px whitesmoke solid;
	background-color: lawngreen;
}

.con:disabled,
.con[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.dis{

	color: red;
    font-weight: bold;
    border:2px red solid;
    padding: 5px;
}

.dis:hover{
	color:black;
	border:2px whitesmoke solid;
	background-color: red;
}

.dis:disabled,
.dis[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.ref{

	color: blue;
    font-weight: bold;
    border:2px blue solid;
    padding: 5px;
}

.ref:hover{
	color:black;
	border:2px whitesmoke solid;
	background-color: blue;
}

.vpn{  

  border: 1px solid #999999;
  font-weight: bold;
  padding: 5px;

  }

.vpn:disabled,
.vpn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;

}





iframe {
 background-color: whitesmoke;

    width: 650px;
    height: 400px;
 border: groove orange 13px;
 
}

body{background-color: #1b1b1b;}



th{

	padding-left: 20px;
}

.lab{

	font-size: 35px;
	color: salmon;
}



.dropbtn {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
 
}

.dropbtn:disabled,
.dropbtn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
    border-radius: 11px 11px 11px 11px;

}

.dropdown-content {
	bottom: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border:4px black solid;
  border-radius: 11px 11px 11px 11px;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:18px;
  color:blue;
	border:2px solid yellow;
	background-color: black;
	border-radius: 11px 11px 11px 11px; 
}

.dropdown-content a:hover {background-color: yellow;
 
	border:2px solid black;

 
 
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


table
{
background-image: url(pqr.jpg);
padding-right: 20px;
border-radius:12px 12px 12px 12px;

}
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: lawngreen;
  border: 1px solid #d3d3d3;
  text-align: center;
  border-radius: 11px 11px 11px 11px;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both;
}

#mydivheader {
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  border-radius: 11px 11px 11px 11px;}

  .position{

  	margin-top: 50px;
  	margin-left: 200px;

 
   
  }
 

  .more{padding-left: 253px;}

.pwrsrc{

            cursor: pointer; 
            border: 1px solid #3498db; 
            background-color: transparent; 
            height: 50px; 
            width: 200px; 
            color: #3498db; 
            font-size: 1.5em; 
            border-radius: 12px 12px 12px 12px;
 

}

.pwrsrc:hover{

            border: 1px solid #1b1b1b;  
            color: #1b1b1b; 
            background-color: #3498db;
 
 

}

.bullets{

  border-radius: 50%;
  height: 30px;
  width: 30px;

}

.container{

    padding: 10px;
    width: 300px;
    background-color: #ffce4b;
    margin-left: 700px;
    margin-top: -50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0 12px 12px 0;
    border-left:2px red solid;

}

.container span{

font-weight: bold;

}

 

#myTimer {
  font:17px Tahoma bold;
 
}
 
 .credits{   

  font: 300 18px/1.5 Merriweather, serif;
  color: gray;

 }

 .name{
  font-family:"Lato", sans-serif;
  text-decoration: none;
}

        .git{

          background-color: #24292e;
          color: white;
          font-weight: bold;
          padding-top: 9px;
          padding-left: 6px;
          padding-right: 6px;
          border-radius: 0 0 12px 12px;
          margin-left: 998px;
          top: 0px;
          position: absolute;
        }


        .git:hover{

          background-color: whitesmoke;
          color: #24292e;
        }

  .gitacr
               {
                  color: white;
                  text-decoration: none;
               }
  .gitacr:hover
               {
                  color: #24292e; 
 
              }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }


@-webkit-keyframes click-wave {
  0% {
 
  
     opacity: 0; 
  }
  100% {
 
        opacity: 0.35;
  }
}
@-moz-keyframes click-wave {
  0% {
 
  
     opacity: 0; 
  }
  100% {
 
        opacity: 0.35;
  }
}
@keyframes click-wave {
  0% {
 
  
     opacity: 0; 
  }
  100% {
 
        opacity: 0.35;
  }
}

/* 
  Ok so you have made it this far, that means you are very keen to on my code. 
  Anyway I don't really mind it. This is a great way to learn so you actually doing the right thing:)

  Follow me
*/
 
